<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Accepted Mail</title>
</head>
<body>
    <p>
        Dear Service Partner <span style="color: red;">({{ShipToCode}}) </span>,
    </p>
    <br />
    <p>
        Herewith find yesterday's accepted claims for the<span style="color: red; font-weight: bold;">
         "{{AuditMonth}}"</span> month against Data Audit.
    </p>
    <br />

<table style="border-collapse: collapse;  width: 40%; border: 1px solid black;">
    <thead>
        <tr>
            <th style="border: 1px solid black; padding: 8px; color: red;text-align: center;">
                Audit Head
            </th>
            <th style="border: 1px solid black; padding: 8px; text-align: center;">
                Accepted Count
            </th>
        </tr>
    </thead>
    <tbody>
        {{TableRows}} 
        
}
    </tbody>
</table>
</body>
</html>



@* <body>

    <p>
        Dear Service Partner
        <span style="color:red;">
            (@Model.ShipToCode)
        </span>,
    </p>

    <br />

    <p>
        Herewith find yesterday's accepted claims for the
        <span style="color:red;font-weight:bold;">
            @Model.AuditMonth
        </span>
        month against Data Audit.
    </p>

    <br />

    <table style="border-collapse:collapse;width:40%;border:1px solid black;">

        <thead>

            <tr>

                <th style="border:1px solid black;padding:8px;text-align:center;color:red;">
                    Audit Head
                </th>

                <th style="border:1px solid black;padding:8px;text-align:center;">
                    Accepted Count
                </th>

            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model.Rows)
            {
                <tr>

                    <td style="border:1px solid black;padding:8px;">
                        @item.AuditHead
                    </td>

                    <td style="border:1px solid black;padding:8px;text-align:center;">
                        @item.AcceptedCount
                    </td>

                </tr>
            }

        </tbody>

    </table>

</body>
 *@